.header {
  grid-area: h;
  background-color: #0073d0;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.header img {
  height: 60px;
}

.header {
  border-radius: 15px;
}

.headerContent {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.prhase {
  margin-left: -150px;
}

.prhase p {
  margin: auto;
  text-align: center;
  color: white;
}

.prhase p:first-child {
  font-size: 26px;
  font-weight: 700;
}
