.mainImg {
  height: 300px;
  width: 100%;
}

.mainImg {
  border-radius: 5px;
  margin-bottom: 10px;
}

.ava {
  height: 100px;
  border-radius: 15px;
  background-size: cover;
}

.profileInfo {
  display: grid;
  grid-template-columns: 2fr 10fr;
  color: white;
}
